body { font-family: 'Palatino', sans-serif; font-size: 15pt; }
#center { margin: 25px 0 0 35%; }
input { border: 0px; }
.iflychat-ft-progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.iflychat-ft-bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.iflychat-ft-percent { position:absolute; display:inline-block; top:3px; left:48%; }
#iflychat-ft-file{visibility: hidden;};