html {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  font-size:62.5%;
  font-family:helvetica,arial,freesans,clean,sans-serif;
  overflow:hidden;
}

html, body {
  height: 100%; }
#center { margin: 25px 0 0 20%; }


body {
  background: #433931 no-repeat center center fixed;
  /* Old browsers */
  background-image: radial-gradient(circle at 50% 50%, #433931, #1e1916);
  background-image: -webkit-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -moz-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -ms-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -o-radial-gradient(50% 50%, circle, #433931, #1e1916);
  min-height: 100%; }

.container {
  z-index:999;
  width: 960px;
  box-sizing: border-box;
  min-height: 100%;
  text-align: center; }
  

body, input {
  font-family: "AvantGardeGothicITCW01X";
  color: #ffffff; }

h1 {
  font-family: "AvantGardeGothicITCW01X";
  font-size: 60px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: center;
  line-height: 100%;
  color:white;
  }

#roomContainer {
  text-align: center; }

#roomName {
  background-color: transparent;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #88889a;
  color: #ffffff;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  height: 60px;
  width: 400px;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0; }

#startButton {
  background-color: #ffffff;
  width: 150px;
  height: 60px;
  box-sizing: border-box;
  line-height: 100%;
  display: inline-block;
  font-size: 40px;
  margin: 0 0 0 15px;
  padding: 10px;
  text-align: center;
  color: #454545;
  opacity: 0.9;
  text-decoration: none; }
  #startButton:focus {
    opacity: 1; }
  #startButton:hover {
    cursor: pointer;
    opacity: 1; }

#actionItem {
  width: 565px;
  text-align: left;
  margin: auto; }

input {
  vertical-align: bottom; }

input::-webkit-input-placeholder {
  /* WebKit browsers */
  line-height: 130%; }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  line-height: 130%; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 130%; }

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  line-height: 130%; }

#infoBox {
  margin-top: 50px; }
header {
  height:5rem;
  width:300px;
}

header > h1 {
  margin:0 0 0 3rem;
  line-height:4.8rem;
}


section {
  display:flex;
  flex-direction:column;
  position:absolute;
  top:5rem;
  bottom:0px;
  width:100%;
}

p {
  margin:0;
  font-size:1.9rem;
  color:white;
  font-weight:normal;
}

.white-link:link {
  color:#FFFFFF;
}

.white-link:visited {
  color:#FFFFFF;
}

.white-link:hover {
  color:#FFFFFF;
}

.white-link:active {
  color:#FFFFFF;
}

p.micro {
  font-size:1.3rem;
}

div.form {
  display:flex;
  flex:none;
  justify-content:center;
}

#callSection {
  display:flex;
  flex:none;
}

input[type="text"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 3.8rem;
  resize: none;
  padding: 0 1.2rem;
  font-size: 1.8rem;
  line-height: 3.8rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none; /* override the box-shadow from the system (performance issue) */
  background: #fff;
}

#which_room {
  width:50%;
  max-width:200px;
}

button, .button {
  height: 3.8rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(to top,#AAAAAA,#FFFFFF);
  border: 0.1rem solid #a6a6a6;
  border-radius: 0.2rem;
  font-family:helvetica,arial,freesans,clean,sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.4rem;
  color: #333333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
  text-decoration: none;
  outline: none;
}

#startButton, #shareButton, #leaveButton {
  width:25%;
  max-width:100px;
}

#callButton, #hangupButton {
  max-width:50%;
  width:50%;
}

button:active, .button:active {
  border-color: #008AAA;
  background: #008AAA;
  background-size: auto 100%;
  color: #333333;
}

button[disabled], .button[disabled] {
  background: #E7E7E7;
  border-color: #C7C7C7;
  color: #C7C7C7;
  text-shadow: none;
}

div.form p {
  position:relative;
  margin:0;
  width:75%;
  max-width:300px;
}

div.form p input + button#clear {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3.8rem;
  padding: 0;
  border: none;
  font-size: 0;
  opacity:0.6;
  background: transparent url('img/clear.png') no-repeat 50% 50% / 1.7rem auto;
  visibility:visible;
}

div.form p input:invalid + button#clear {
  pointer-events: none;
  visibility:hidden;
}

#room_name {
  font-style:italic;
}

#arrow {
  position:absolute;
  top:10px;
  right:5px;
}

#main {
  width:100%;
  flex:auto;
  display:flex;
  flex-direction:column;
}

#videoContainer {
  position:relative;
}

#localVideo {
  position:absolute;
  z-index:999;
  top:70;
  bottom:0;
  right:30;
  
  max-width:20%;
  max-height:20%;
  margin:20;
  padding:20;
}

#remoteVideo {
  position:absolute
  z-index:100;
  
  top:70;
  bottom:200;
  margin:0;
  padding:0;
  min-width:10%;
  min-height:10%;
}


#callOptions, #videoSize {
  display:flex;
  flex-direction:column;
  flex:0 0 auto;
  padding:0 0.5rem;
}

#videoSize > label, #videoSize > button {
  flex:1 0 auto;
  margin:0.1rem 0;
}

input[type='checkbox'], input[type='radio'] {
  display:none;
}

#changeSize ~ label > span {
  display:inline-block;
  vertical-align:middle;
  font-size:1.7rem;
}

#changeSize ~ label > span::after {
  content:'Enlarge';
}

#changeSize:checked ~ label > span::after {
  content:'Shrink';
}

#callOptions > label {
  flex:1 0 auto;
  margin:0.1rem 0;
}

#callOptions input[disabled] + label {
  background: #E7E7E7;
  border-color: #C7C7C7;
  color: #C7C7C7;
  text-shadow: none;
}

#callOptions input:checked + label {
  background:#008AAA;
  box-shadow:inset 2px 2px 4px #333333;
}

#callOptions input:checked[disabled] + label {
  background:#48A0B4;
  color:#474747;
  box-shadow:inset 2px 2px 4px #333333;
}

footer {
  display:none;
}

#spinner {
  position:absolute;
  top:50%; /*fallback code*/
  top:calc(50% - 1.5rem);
  right:50%; /*fallback code*/
  right:calc(50% - 1.5rem);
}

progress:not([value]) {
  background: url('img/default@2x.png') no-repeat center center / 100% auto;
  width: 3rem;
  height: 3rem;
  border: none;
  display: inline-block;
  vertical-align: middle;
  display:none;
  z-index:10;
}

.animated {
  -webkit-animation: 1.2s rotate infinite steps(25);
  animation: 1.2s rotate infinite steps(25);
}

progress:not([value])::-moz-progress-bar {
  background: none;
}

progress:not([value])::-webkit-progress-bar {
  background: none;
}

/* Animations */
@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(1deg); }
  to   { -webkit-transform: rotate(360deg); }
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

/*.hidden class should be the last to overwrite any*/
/*display:block in ohter css*/
.hidden {
  display:none;
}

.slide-left {
  justify-content:flex-start;
}

.slide-right {
  justify-content:flex-end;
}

@media all and (min-width:800px) {

  footer {
    display:block;
    position:absolute;
    bottom:0;
    height:40px;
    padding:10px;
  }

  .banner {
    display:block;
    background-image:url('../img/forkme.png');
    width:100px;
    height:100px;
    border:0;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
  }

  section {
    bottom:60px;
  }

  .option-menu {
    display:none;
  }

  div.form {
    order:0;
    justify-content:flex-start;
  }

  #main {
    order:2;
  }

  #videoContainer {
    flex:auto;
  }

  #callSection {
    order:1;
  }

  #callButton, #hangupButton {
    max-width:200px;
  }

}

@media all and (max-height:300px) {

  header, aside, #option_button {
    display:none;
  }

  section {
    top:0;
  }
}
